@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,700&display=swap');


:root {
  /* colors */
  --body-color: #000000;
  --section-title: #ffffff;
  --text-color: #f04f00;
  --text-color-alt: #ffffff;
  --text-color-alt-2: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  font-family: 'Roboto Serif', serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 300px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 4px;
}

header h1 {
  font-weight: 700;
  font-size: 28px;
  color: var(--text-color);
  text-transform: uppercase;
}

header span {
  color: var(--text-color-alt);
}

header p {
  font-weight: 400;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0 0 24px 0;
}

section h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 16px;
  background-color: var(--section-title);
  color: var(--text-color);
  cursor: pointer;
}

section h2 i {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 700;
}

section ul {
  display: none;
  flex-direction: column;
  gap: 16px;
}

section ul.active {
  display: flex;
}

section ul li {
  display: grid;
  grid-template-columns: 240px 1fr;
  align-items: flex-start;
  color: rgb(255, 255, 255);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: rgb(255, 255, 255);
}

.details h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.details p {
  font-weight: 400;
  font-size: 13px;
  color: rgb(255, 255, 255);
}

.price strong {
  font-weight: 700;
  font-size: 16px;
  color: rgb(255, 255, 255);
  ;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  margin-top: 20px;
  color: var(--text-color);
  padding-bottom: 24px;
}

footer a {
  font-weight: 700;
  color: var(--text-color-alt);
}

footer a:hover {
  color: var(--text-color-alt-2);
}